.charts {
  width: 30%; /* Adjusted width for better layout */
  margin: 10px auto;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.chart-container {
  flex: 1 1 calc(50% - 40px); /* Two columns with some gap */
  max-width: calc(50% - 40px);
  box-sizing: border-box;
  padding: 20px;
}

.chart-container canvas {
  width: 100%;
  height: auto;
}
