main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
}

section {
  width: 100%;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #141204;
  border-radius: 5rem;
  border: 5px solid #ebfcfb;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}

#question h2 {
  font-size: 16rem;
  color: #ebfcfb;
}

#funfact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%; /* Set a smaller width */
  height: 30vh; /* Reduce the height */
  background-color: #ea738d;
  border-radius: 2rem; /* Smaller border radius */
  border: 5px solid #ebfcfb;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
  margin: 0 auto; /* Center the box */
  padding: 20px; /* Add padding inside the box */
}

#funfact p {
  font-size: 4rem; /* Reduce the font size */
  color: #141204;
  text-align: center; /* Center the text */
  word-wrap: break-word; /* Ensure text wraps inside the box */
}

#answers {
  flex: 1;
  display: flex;
  gap: 2rem;
}

.answer {
  flex: 1;
  height: 20rem;
  font-size: 6rem;
  color: #141204;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#answer-1 {
  background-color: #61e294;
}

#answer-2 {
  background-color: #7bcdba;
}

#answer-3 {
  background-color: #ce3b9b;
}

#answer-4 {
  background-color: #fbb13c;
}

.answer:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.q-blank {
  box-shadow: 0 4px 6px 1px rgba(136, 136, 136, 0.062);
  border-radius: 4px;
}

.top-left {
  padding: 5px;
  align-self: flex-start;
}
